# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

brstore-5ae01-firebase-adminsdk-fbsvc-0c23c5e1ce.json
/scripts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
